$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;

$primaryColor: #212121;
$secondaryColor: #757575;
$whiteColor: #fff;
$accentColor: #2196f3;
$logoColor: #000000;
$bgColor: #2f303a;
$linkColor: rgba(255, 255, 255, 0.6);
$borderColor: #ececec;
$greyColor: #f5f4fa;
$galeryColor: #eeeeee;
$iconColor: #afb1b8;

$trTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$trDuration: 250ms;
