.about {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.about__list {
  @media screen and (min-width: $desktop) {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}

.about__item {
  @media screen and (min-width: $desktop) {
    position: relative;
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.about__subtitle {
  @media screen and (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 27px 0;
    width: 100%;

    line-height: 1.14;
    color: $whiteColor;
    text-align: center;

    background-color: rgba(47, 48, 58, 0.8);
  }
}
