.clients__list {
  margin-top: 50px;
  display: flex;
}

.clients__item {
  margin-right: 30px;
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;

  &:last-child {
    margin-right: 0;
  }
}

.clients__link {
  @include centredFlex;
  width: 100%;
  height: 100%;

  border: 1px solid $iconColor;
  border-radius: 4px;

  transition: border $trTimingFunction $trDuration;

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
  }
}

.clients__icon {
  fill: $iconColor;
  transition: fill $trDuration $trTimingFunction;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accentColor;
  }
}
