.address {
  text-align: center;
  margin-top: 20px;

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.address__link {
  color: $linkColor;
  text-decoration: none;

  transition: color $trDuration $trTimingFunction;

  &--white {
    color: $whiteColor;
  }

  &:focus,
  &:hover {
    color: $accentColor;
  }
}

.address__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}
