.contact {
  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.contact__link {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $secondaryColor;
    text-decoration: none;

    transition: color $trDuration $trTimingFunction;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.contact__item {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.contact__icon {
  @media screen and (min-width: $tablet) {
    margin-right: 10px;
    fill: currentColor;

    &--first {
      width: 14px;
      height: 10px;
    }

    &--second {
      width: 10px;
      height: 14px;
    }
  }

  @media screen and (min-width: $desktop) {
    &--first {
      width: 16px;
      height: 12px;
    }

    &--second {
      width: 10px;
      height: 16px;
    }
  }
}
