.logo {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: $accentColor;
  text-decoration: none;

  &--dark {
    color: $logoColor;
  }

  &--white {
    color: $whiteColor;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
