.team {
  background-color: $greyColor;
}

.team__list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $desktop) {
    margin-top: 50px;

    justify-content: center;
  }
}

.team__item {
  max-width: 450px;
  margin: 15px;
  background-color: $whiteColor;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: $primaryColor;
  text-align: center;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  color: $secondaryColor;
  text-align: center;
}
