body {
  font-family: $mainFont;
  font-style: italic;
  font-size: 14px;
  line-height: 1.71;
  color: $primaryColor;
  letter-spacing: 0.03em;

  @media screen and (min-width: $tablet) {
    font-style: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 480px;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.subtitle {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $primaryColor;

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
